<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<!-- Navbar -->
<div th:insert="~{components/navbar :: navbar}"></div>

<div class="container text-center justify-content-center m-5">
    <h2 class="mb-4">Administrator</h2>
    <div class="d-block">
        <button class="btn btn-outline-warning mb-4">
            <a th:href="@{/users}"> Manage Users </a>
        </button>
    </div>
    <div class="d-block">
        <button class="btn btn-outline-warning mb-4">
            <a th:href="@{/courses}"> Manage Courses </a>
        </button>
    </div>

    <div class="container text-center">
        <form th:action="@{/logout}" method="post">
            <button class="btn btn-outline-danger mb-4" type="submit">Sign Out</button>
        </form>
    </div>
</div>

</body>
<!-- Footer -->
<footer th:insert="~{components/footer :: footer}"></footer>
</html>